<!-- target page -->
<%= turbo_stream_from "quotes" %>
<main class="container">
  <%#= turbo_frame_tag "first_turbo_frame" do %> <!-- turbo frame tag with id -->
    <div class="header">
      <h1>Quotes</h1>
      <%= link_to "New quote", new_quote_path, data: { turbo_frame: dom_id(Quote.new) }, class: "btn btn--primary" %>
    </div>
  <%# end %>

<%= turbo_frame_tag Quote.new %>  <!-- empty turbo frame tag-->

<%= turbo_frame_tag "quotes" do%>
  <%= render @quotes %>
<% end %>
</main>    